* {
  margin: 0;
  padding: 0;
  /* border:2px solid red; */
}
@font-face {
  font-family: Spotify-fonts;
  src: url(fonts/GothamMedium.ttf);
}
:root {
  --search-bg-color: rgb(31, 31, 31);
  --bg-color: #191414;
}
body {
  font-family: Spotify-fonts, sans-serif;
  background-color: aquamarine;
  max-height: 100vh;
}
a {
  text-decoration: none;
}
#container {
  display: grid;
  grid-template-rows: 7vh 83vh 10vh;
}
header {
  display: flex;
  background-color: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: white;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  span {
    display: inline-block;
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
  }
  span:nth-child(1) {
    background-color: red;
  }
  span:nth-child(2) {
    background-color: yellow;
  }
  span:nth-child(3) {
    background-color: green;
  }
  a {
    font-size: 1.6rem;
    cursor: pointer;
  }
  .fa-angle-right {
    opacity: 0.7;
  }
  .fa-angle-right:hover {
    opacity: 1;
  }
}
.search {
  display: flex;
  gap: 0.8rem;

  a {
    display: inline-block;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    background-color: var(--search-bg-color);
    padding: 0.6rem;
  }
  a i {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
  }
  search {
    display: flex;
    max-width: 30vw;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 0 0.8rem;
    background-color: var(--search-bg-color);
    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      font-size: 1.2rem;
      border: none;
      color: white;
    }
    input:focus {
      outline: none;
      border: none;
    }
    i {
      font-size: 1.5rem;
    }
  }
}
.profile {
  display: flex;
  gap: 0.8rem;
  a i {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
main {
  display: grid;
  background-color: blueviolet;
  grid-template-columns: 1fr 3fr 1fr;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: white;
  background-color: var(--bg-color);
}
.selected-song {
  article {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 18vw;
    figure {
      height: 4rem;
      width: 4rem;
    }
    figure img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
    section {
    }
    section h4 {
      font-weight: 200;
    }
    section p {
      margin-top: 0.3rem;
      font-weight: 350;
      font-size: 0.7rem;
      letter-spacing: 1px;
    }
  }
}
.controls {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  section {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .bar {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}
.progress-bar {
  width: 20vw;
  height: 0.5rem;
  background-color: var(--search-bg-color);
}
.progress {
  width: 25%;
  height: 100%;
  background-color: white;
}
.sound {
  width: 20vw;
  section {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.2rem;
  }
}

.library {
  background-color: beige;
  margin-bottom: 0.5rem;
  > section {
    height: 7%;
    border: 2px solid red;
  }
  article {
    background-color: aqua;
    height: 78%;
    overflow-y: auto;
  }
  article > section {
    height: 12%;
    background-color: chocolate;
    border: 1px solid white;
  }
}
.liked-songs {
  background-color: coral;
  overflow-y: auto;
  >section{
    height: 55%;
    background-color: beige;
  }
  article  section{
    height: ;
    background-color: yellow;
    border:1px solid black;
  }
}
